<div class="container">
  <div class="row">
    <div class="span12">
      <% provide(:title, 'Firmenprofil') %>
      <h1>Mehr Sicherheit durch RA-GAS Warnsysteme</h1>

      <p>
        Das versprechen Meister, Diplomingenieure, Techniker und Facharbeiter 
        des zertifizierten Unternehmens RA-GAS GmbH (LNS-Network-Integrator). 
        Um eine gute Luftqualität besonders an Arbeitsplätzen und in Tiefgaragen 
        zu erhalten, aber auch um vorbeugenden Brandschutz zu betreiben, 
        hat der Gesetzgeber verschiedenste Vorschriften erlassen. 
        Um die darin gesetzlich vorgeschriebenen Werte zu gewährleisten, 
        gibt es mehrere Methoden.
      </p>

      <p>
        Ein Team mit mehr als 12jähriger Berufserfahrung ist spezialisiert 
        auf Gas, Kohlenmonoxid- (CO) und Rauchwarnanlagen, 
        welche kundenspezifisch hergestellt und bundesweit vertrieben werden.
      </p>

      <p>
        Der Austritt von Gasen unterschiedlichster Art 
        (auch Methan, Propan, Butan) lässt sich mit Sensoren überwachen, 
        um somit frühzeitig auf Problemsituationen zu reagieren. 
        Die an den Anlagen vorhandenen potentialfreien Kontakte
        können für Lüfter, welche die Gebäudeteile entlüften, 
        oder für optische und akustische Signale verwendet werden. 
        Somit sind Gefahrensituationen und teure Folgeschäden vermeidbar. 
        Die LON®- Systeme entsprechen den Vorschriften 
        der VDI 2053 und den Garagen-Verordnungen der einzelnen Länder.
      </p>

      <p>
        Die Vorzüge dieser Anlagentypen zeichnen sich besonders aus durch:
        <ul>
          <li>Kostensparende Verkabelung</li>
          <li>Modulare Bauweise schon in der Installationsphase</li>
          <li>Einbindbarkeit in vorhandene Gebäudeleittechnik (GLT) Systeme</li>
        </ul>
      </p>

      <p>
        in enger zusammenarbeit mit architekten und ingenieurbüros übernimmt das ra-gas team
        <ul>
          <li>planung</li>
          <li>elektroinstallation</li>
          <li>montage</li>
          <li>wartung und reparatur</li>
        </ul>
      </p>
      
      <p>
        In Tiefgaragen, Labors, Krankenhäusern oder Produktionsfirmen werden, 
        durch modulare Bauweise und Kompaktheit, 
        individuelle Kundenwünsche berücksichtigt und kostengünstig umgesetzt.
      </p>

      <p>
        Auf die Leistungen von RA-GAS vertrauen:
        <ul>
          <li>Universitäten (z.B. Stuttgart, Tübingen)</li>
          <li>Banken (z.B Landesbank Baden-Württemberg)</li>
          <li>Versicherungen (z. B. Allianz)</li>
        </ul>
      </p>

      <p>
        Als Ingenieurbüro für CO- und Gaswarnanlagen sehen wir uns 
        nicht nur für den Verkauf von Anlagenteilen und Komponenten,
        sondern auch für die Planung und Erstellung von Gesamtkonzepten. 
        Qualität, Kompetenz, faire Preise und Kundennähe sind für uns Maxime. 
        Unser Serviceteam ist für Sie deutschlandweit unterwegs, 
        um Ihre Anlagen technisch zu betreuen und in regelmäßigen Abständen zu warten.
      </p>


      <p>
        Gerne werden wir Ihnen ein Wartungsangebot 
        für alle gängigen CO und Gaswarnanlagen unterbreiten.
      </p>

    </div>
  </div>
</div>

