<% provide(:title, 'Kontakt') %>

<% content_for :jumbotron do %>
<div class="jumbotron contact">
  <div class="container">
    <div id="map"></div>
  </div>
</div>
<% end %>

<div class="container" style="position: absolute; top: 200px; width: 250px; hight: 100%; background: rgba(255,255,255,0.7)">
  <div class="row">
    <div class="col-xs-8">
      <h2>Kontakt</h2>
    </div>
    <div class="col-xs-4">
      <h3>
        <button type="button">
          <span><i class="fa fa-eye"></i></span>
        </button>
      </h3>
    </div>
  </div>

  <div id="contact">

    <div>
      <p>
      RA-GAS GmbH<br />
      Rudolf-Diesel-Straße 22<br />
      71394 Kernen
      </p>

      <p>
      <b>Fon</b> 07151 930440<br />
      <b>Fax</b> 07151 930443<br />
      <b>E-Mail</b> <%= link_to "info@gaswarnanlagen.com", 'mailto:info@gaswarnanlagen.com' %>
    </p>
    </div>
  </div>
</div>



