<% provide(:title, 'Kontakt') %>

<% content_for :jumbotron do %>
<div class="jumbotron contact">
  <div class="container">
    <div id="map"></div>
  </div>
</div>
<% end %>

<div class="container" style="position: absolute; top: 200px; width: 250px; background: rgba(255,255,255,0.7)">
  <h2>Kontakt</h2>

  <div>
    <p>
      RA-GAS GmbH<br />
      Rudolf-Diesel-Straße 22<br />
      71394 Kernen
    </p>

    <p>
      <b>Fon</b> 07151 930440<br />
      <b>Fax</b> 07151 930443<br />
      <b>E-Mail</b> <%= link_to "info@gaswarnanlage.com", 'mailto:info@gaswarnanlage.com' %>
    </p>
  </div>
</div>



