<% provide(:title, 'Kontakt') %>
<h1>Kontakt</h1>

<pre>
  RA-GAS GmbH
  Rudolf-Diesel-Straße 22
  71394 Kernen

  Fon 07151 930440
  Fax 07151 930443
  E-Mail info@gaswarnanlage.com
</pre>

<iframe width="850" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.de/maps?q=RA-GAS+Rauch-+und+Gaswarnanlagen+GmbH,+Kernen+im+Remstal&amp;hl=de&amp;t=m&amp;ie=UTF8&amp;view=map&amp;cid=3231445227908927304&amp;ll=48.853873,9.205856&amp;spn=0.18072,0.582962&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe>

