<% provide(:title, 'Kontakt') %>

<% content_for :jumbotron do %>
<div class="jumbotron contact">
  <div class="container">
      <iframe width='100%' height='500px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/service.hk1c7i1j/attribution,zoompan,zoomwheel,geocoder,share.html'></iframe>
  </div>
</div>
<% end %>

<div class="container" style="position: absolute; top: 200px; width: 200px; background: rgba(255,255,255,0.5)">
  <h1>Kontakt</h1>

  <div>
    <p>
      RA-GAS GmbH<br />
      Rudolf-Diesel-Straße 22<br />
      71394 Kernen
    </p>

    <p>
      Fon 07151 930440<br />
      Fax 07151 930443<br />
      E-Mail info@gaswarnanlage.com
    </p>
  </div>
</div>



