<div class="row">
  <div class="span8">
    <div class="row">
    <% @product_groups.each_slice(2) do |slice| -%>
      <div class="row">
        <% slice.each do |product_group| -%>
          <div class="span4">
            <%= link_to(content_tag('h1', product_group.name), product_group_path(product_group ))  %>
            <div><%= product_group.description %></div>
          </div>
        <% end -%>
      </div>
    <% end -%>
    </div>
  </div>
  <div class="span4">
    <div class="row">
      <div class="span4"><h1>Aktuell</h1><%= Faker::Lorem.paragraph(10) %></div>
      <div class="span4"><h1>Nachrichten</h1><%= Faker::Lorem.paragraph(10) %></div>
    </div>
  </div
</div>

<div class="row">
  <div class="span12">
    <h1>Mehr Sicherheit durch RA-GAS Warnsysteme ...</h1>
    <p>
    ... das Versprechen Meister, Diplomingenieure, Techniker und Facharbeiter des zertifizierten Unternehmens RA-GAS GmbH (LNS-Network-Integrator).
    Um eine gute Luftqualität besonders an Arbeitsplätzen und in Tiefgaragen zu erhalten, aber auch um vorbeugenden Brandschutz zu betreiben,
    hat der Gesetzgeber verschiedenste Vorschriften erlassen. Um die darin gesetzlich vorgeschriebenen Werte zu gewährleisten, gibt es mehrere Methoden.
    Ein Team mit mehr als 50-jähriger Berufserfahrung ist spezialisiert auf Gaswarnanlagen und Tiefgaragenüberwachungsanlagen nach VDI 2053,
    welche kundenspezifisch hergestellt und bundesweit vertrieben werden.
    </p>
    <p>
    Der Austritt von Gasen unterschiedlichster Art (auch Methan, Propan, Butan) lässt sich mit Sensoren überwachen,
    um somit frühzeitig auf Problemsituationen zu reagieren. Die an den Anlagen vorhandenen potentialfreien Kontakte können
    für Lüfter, welche die Gebäudeteile entlüften, oder für optische und akustische Signale verwendet werden.
    Somit sind Gefahrensituationen und teure Folgeschäden vermeidbar.
    In Tiefgaragen, Labors, Krankenhäusern oder Produktionsfirmen werden, durch modulare Bauweise und Kompaktheit,
    individuelle Kundenwünsche berücksichtigt und kostengünstig umgesetzt.
    Als Ingenieurbüro für CO- und Gaswarnanlagen sehen wir uns nicht nur für den Verkauf von Anlagenteilen und Komponenten,
    sondern auch für die Planung und Erstellung von Gesamtkonzepten. Qualität, Kompetenz, faire Preise und Kundennähe sind für uns Maxime.
    Unser Serviceteam ist für Sie deutschlandweit unterwegs, um Ihre Anlagen technisch zu betreuen und in regelmäßigen Abständen zu warten.
    Gerne werden wir Ihnen ein Wartungsangebot für alle gängigen CO und Gaswarnanlagen unterbreiten.
    </p>
  </div>
</div>
