<% provide(:title, 'Impressum') %>
<h1>Impressum</h1>

<div class="container">
  <div class="row">
    <div class="span12">
      <h2>RA-GAS Rauch- und<br />Gaswarnanlagen GmbH</h2>

      <p>
        Rudolf-Diesel-Straße 22</br>
        71394 Kernen</br>
      </p>

      <p>
        <b>Fon</b> 07151 930440</br>
        <b>Fax</b> 07151 930443</br>
        <b>E-Mail</b> <a href="mailto:info@gaswarnanlagen.com">info@gaswarnanlagen.com</a></br>
      </p>

      <p>
        HRB AG-Stuttgart 264877</br>
        Geschäftsführer Helge Kliemann</br>
        UST-ID-Nr. DE 237 527 584</br>
        EORI Nr.: DE952352436213769</br>
        Betriebs Nr.: 66820131<br />
        Gläubiger Nr.: DE34ZZZ00001412162<bbr />
      </p>

      <p>
        <b>Downloads:</b><br>
        <%= link_to "Freistellungsbescheinigung RA-GAS GmbH", asset_path('Freistellungsbescheinigung-RAGAS.pdf') %></br>
        <%= link_to "AGB RA-GAS GmbH", asset_path( 'AGB_RA-GAS.pdf') %></br>
      </p>

      <div>
        <h2>Haftungsausschluss</h2>
        <h3>1. Inhalt des Onlineangebotes</h3></br>
        <p>
          Der Betreiber dieser Seite, im folgenden „Autor“ genannt, übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.Angebote: Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
        </p>

        <h3>2. Verweise und Links</h3>
        <p>
          </br>
          Bei direkten oder indirekten Verweisen auf fremde Internetseiten („Links“), die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.Der Autor erklärt daher ausdrücklich, dass zum Zeitpunkt der Linksetzung die entsprechenden verlinkten Seiten frei von illegalen Inhalten waren. Der Autor hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der gelinkten/verknüpften Seiten. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller gelinkten/verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebots gesetzten Links und Verweise.
        </p>

        <h3>3. Urheber- und Kennzeichenrecht</h3>
        <p>
          Die Inhalte sowie die gestalterische Ausarbeitung dieser Webseite unterliegen dem Copyright. Die Nutzung von Materialien dieses Internetangebots bedarf des Einverständnisses des Autoren. Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken und Texte zu beachten, von ihm selbst erstellte Grafiken und Texte zu nutzen oder auf lizenzfreie Grafiken und Texte zurückzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichensrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind.Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.
        </p>

        <h3>4. Datenschutzerklärung und Nutzungsbedingungen</h3>
        <div>
          <p>Der Schutz der Privatsphäre und Ihrer personenbezogenen Daten ist für die RA-GAS GmbH / Rauch und Gaswarnanlagen GmbH  wichtig. Im Weiteren erfahren Sie, welche personenbezogenen Daten und Informationen wir ggf. sammeln und wie damit umgegangen wird.</p>
          <p>Wir erheben, verarbeiten und nutzen personenbezogene Daten nur mit Ihrem Wissen. Mit der nachfolgenden Erklärung geben Sie uns auch Ihr Einverständnis dafür, dass wir Ihre nachfolgend beschriebenen Daten mit den ebenfalls beschriebenen Zielen über den gesetzlichen Umfang hinaus erheben, verarbeiten und nutzen dürfen. Sie haben jederzeit das Recht, Ihre Einwilligung mit Wirkung für die Zukunft zu widerrufen.</p>
          <p>Wir nutzen ihre personenbezogenen Daten, die wir bei Bestellungen oder Aufträgen von Ihnen bekommen, für deren Ausführung, für die Lieferung  von Waren und das Erbringen von Leistungen sowie zur Abwicklung der Zahlungen. Sollten Sie uns personenbezogene Daten (z.B. Name, Adresse, Telefonnummer oder E-Mail) mit Ihrem Einverständnis mitteilen, so erheben, speichern und nutzen wir diese im Allgemeinen, um auf Ihre Wünsche besser eingehen zu können, unsere Produkte und Leistungen zu verbessern, Ihre Anfragen zu beantworten, eventuelle Aufträge zu bearbeiten oder Ihnen Zugang zu speziellen Informationen oder Angeboten zu verschaffen. Zur Pflege der Kundenbeziehungen kann es weiterhin nötig sein, dass wir Ihre personenbezogenen Daten zu Werbezwecken verwenden, um Sie über Produkte und Lösungen der RA-GAS GmbH / Rauch und Gaswarnanlagen GmbH  zu informieren, oder um Online-Umfragen durchzuführen, durch die wir Ihren Anforderungen besser gerecht werden.</p>
          <p>Wir weisen Sie darauf hin, dass wir zu oben genannten Zwecken Ihre personenbezogenen Daten ggf. auch an andere Unternehmen weitergeben, so dass die Verarbeitung Ihrer personenbezogenen Daten auch in Staaten außerhalb des Anwendungsbereichs der Richtlinie 95/46/EG des Europäischen Parlaments und des Rates vom 24. Oktober 1995 zum Schutz natürlicher Personen bei der Verarbeitung personenbezogener Daten und zum freien Datenverkehr (Abl. EG Nr. L 281 S. 31) erfolgen kann. Selbstverständlich respektieren wir es, wenn Sie uns Ihre personenbezogenen Daten nicht zu den genannten Zwecken überlassen wollen. Wir  werden Ihre Daten weder an Dritte verkaufen noch anderweitig vermarkten.</p>
          <p>Wenn Sie auf unsere Websites zugreifen, werden gelegentlich automatisch (also nicht z. B. über eine Registrierung) Informationen gesammelt, die nicht einer bestimmten Person zugeordnet sind (z. B. verwendeter Internet-Browser und Betriebssystem; Domain-Name der Website, von der Sie kamen; Anzahl der Besuche, durchschnittliche Verweilzeit, aufgerufene Seiten). Wir und die anderen Unternehmen verwenden diese Informationen, um die Attraktivität der Websites zu ermitteln und deren Inhalt zu verbessern. Auch können so genannte Nutzerprofile erstellt werden, jedoch nur unter Pseudonymen. Selbstverständlich haben Sie das Recht, einer solchen Nutzung zu widersprechen.</p>
          <p>Wenn Sie die Website der RA-GAS GmbH / Rauch und Gaswarnanlagen GmbH  besuchen, kann es sein, dass wir Informationen in Form eines "Cookies" auf Ihrem Computer ablegen, die ihn bei Ihrem nächsten Besuch automatisch wieder erkennen. Cookies erlauben es uns beispielsweise, eine Website Ihren Interessen anzupassen oder Ihr Kennwort zu speichern, damit Sie es nicht jedes Mal neu eingeben müssen. Informationen, die wir beispielsweise über Cookies sammeln, sind Ihre Internet-Protokoll-Adresse (IP), Logins, Passwörter, Informationen über Computer und Verbindung zum Internet, Datum und Dauer Ihres Besuches auf unserer Webseite und bei Bestellvorgängen, Ihre Bestellhistorie. Wenn Sie nicht möchten, dass wir Ihren Computer wieder erkennen, stellen Sie Ihren Internet-Browser bitte so ein, dass er Cookies von Ihrer Computerfestplatte löscht, alle Cookies blockiert oder Sie warnt, bevor ein Cookie gespeichert wird.</p>
        </div>
      </div>

      <div>
        <p>Rechtswirksamkeit dieses Haftungsausschlusses</p>
        <p>Dieser Haftungsausschluss ist als Teil des Internetangebots zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.</p>
      </div>

      <p>
        <b>Konzept, Technische Umsetzung und Gestaltung</b></br>
        smartmedia</br>
        donauschwabenstraße 52</br>
        71332 waiblingen</br>
        info@smartmediadesign.de</br>
        www.smartmediadesign.de</br>
      </p>

      <p>
      Bildrechte</br>
      www.smartmediadesign.de</br>
      Produktfotografie und Bildmontagen © Heike Kranacher</br>
      </p>

      <p>
        www.fotolia.de</br>
        Training session © Yuri Arcurs - Fotolia.com</br>
        Wärmepumpe © Martin Winzer - Fotolia.com</br>
        Holzpellets in Holzkorb © Gerhard Seybert - Fotolia.com</br>
        Blockheizkraftwerk Hamburg-Hafencity © Matthias Krüttgen - Fotolia.com</br>
        Biogasanlage © Wolfgang Jargstorff - Fotolia.com</br>
        Kühlanlagen © Cmon - Fotolia.com</br>
        dieu du ciel © Lulu Berlu - Fotolia.com</br>
        Zapfhahn © mankale - Fotolia.com</br>
      </p>

      <div>
        <!-- Dieser Backlink ist aus Lizensrechtlichen Gründen eingefügt worden,
          siehe http://www.auftragsbearbeitung-warenwirtschaft-pps.de/p/Preise/Empfehlungen/
        -->
        <p>
        powered by <a href="http://www.auftragsbearbeitung-warenwirtschaft-pps.de/" target="_blank"><span style="color:#007aae">ERP-Software</span></a> easyWinArt
        </p>
      </div>

    </div><!-- End span12 -->
  </div><!-- End row -->
</div><!-- End container -->
