<% provide(:title, 'Referenzen') %>
<h2>Referenzen</h2>

<div class="row">
    <div class="col-md-6">
        <b>Projekte mit Umsätzen über 40.000 Euro</b>
        <ul>
            <li>Deutsche Bank "DB-Blue" Taunusanlagen 12 Frankfurt a.M.</li>
            <li>pharmazeutisches Institut Münster</li>
            <li>Allianzversicherung Frankfurt Verwaltungsgebäude</li>
            <li>Universität Tübingen Verfügungsgebäude der Medizin</li>
            <li>Universität Tübingen Versorgungsgebäude</li>
            <li>Maschinenfabrik Hüller Hille Nürtingen</li>
            <li>Universität Stuttgart Fakultät Chemie</li>
            <li>Landes-Bank-Baden-Württemberg</li>
            <li>Kreiskrankenhaus Bietigheim</li>
            <li>MAN-Karlsfeld und Nürnberg</li>
            <li>BASF Ludwigshafen</li>
            <li>Universität Oldenburg</li>
            <li>u.v.m</li>
        </ul>
    </div>

    <div class="col-md-6">
        <b>Projekte mit Umsätzen bis 40.000 Euro</b>
        <ul>
            <li>Rems-Murr-Kliniken-Winnenden</li>
            <li>Stuttgarter Börse</li>
            <li>Rathaus Stuttgart</li>
            <li>Stadt Eschborn</li>
            <li>Höchst AG Frankfurt</li>
            <li>Kaufland Rottenburg</li>
            <li>Tiefgarage Stadt Friedberg</li>
            <li>Hochbauamt München</li>
            <li>Mercure Hotel Schweinfurt</li>
            <li>Zahnlabor Schule Regensburg</li>
            <li>BMW-Niederlassung Stuttgart</li>
            <li>Gasversorgung Süddeutschland</li>
            <li>Einkaufszentrum ES in Esslingen</li>
            <li>u.v.m</li>
        </ul>
    </div>
</div>


