<% provide(:title, 'Anmeldung') %>
<h1>Anmeldung</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user, html: {class: "form-horizontal", role: "form"}) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Benutzerzugang erstellen", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>oder mit bestehenden Zugangsdaten einloggen <%= link_to "Sign in", signin_path %></p>
  </div>
</div>

