<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

      <div class="bs-callout bs-callout-warning">
        <h4>Dies ist die Administrationsumgebung der Webseite</h4>
        <p>Mit diesen Zugangsdaten wurden alle Komponenten der Webseite 
        freigeschalten, alle Änderungen geschehen live. <b>Bitte Achten Sie darauf!</b></p>
      </div>
    </section>
  </aside>
</div>
