<% provide(:title, "Produktgruppe bearbeiten") %>
<h1>Produktgruppe bearbeiten</h1>

<div class="row">
  <div class="col-md-8">
    <%= form_for(@product_group, :html => { multipart: true, class: "form-horizontal", role: "form"}) do |f| %>
      <%= render 'fields', f: f %>
      <div><%= f.submit "Änderungen speichern", class: "btn btn-large btn-primary" %></div>
    <% end %>
  </div>
</div>
