<% provide(:title, @product_group.name) %>
<h1>
  <%= @product_group.name %>
  <% if current_user && current_user.admin? %><small><%= link_to 'bearbeiten', edit_product_group_path(@product_group) %></small><% end %>
</h1>

<div class="table-responsive">
  <table class="table table-hover table-hover">
    <tr><th>Art. Nr.</th><th>Bezeichnung</th><th>Kurztext</th></tr>
    <%= render @products %>
  </table>
</div>


<div class="row">
</div>
