$boxgelb: #D2C00A;
$boxrot: #D13E26;
$boxschwarz: #00305E;
$boxaktuell: #7C7C7C;
$boxgruen: #0D440D;
$boxnachrichten: #5D5D5D;


body { 
  padding-top: 50px; 
  padding-bottom: 140px; 
}

.bs-docs-header {
  background-color: #E7001A;
  .row {
    height: 134px;
    background: url("header-01.jpg") no-repeat scroll 0px 0px #E7001A;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

body > .jumbotron { 
  background: none;
  padding: 0;
  .container {
    width: 100%;
    padding: 0;
  }
}

@mixin h_and_links {
  color: #FFF;
  h1, .description {
    padding: .5em;
  }
  h1 {
    font-size: 1.5em;
    font-weight: normal;
    color: #FFF;
    text-shadow: 1px 1px 3px #6F6504;
    line-height: 1;
  }
  a {
    color: #FFF;
    text-decoration: none;
  }
  // Product group logo
  .logo {
    width: 100%;
    height: 130px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    img {
      min-width: 100%;
      min-height: 100%;
    }
  }
}

.box_category, .box_aktuell, .box_nachrichten {
  height: 368px;
  @include h_and_links
}

.box_category_small {
  height: 268px;
  @include h_and_links
}

.box_category_small {
  height: 268px;
}

.box_aktuell {
  background-color: $boxaktuell;
  overflow: hidden;
}

.box_nachrichten {
  background-color: $boxnachrichten;
  min-height: 726px;
  overflow: hidden;
}

.box_nachrichten table {
    background-color: #5d5d5d !important;
    	margin-left: 10px;
    	margin-top: 10px;
    	width: 200px;
}

.box_nachrichten td {
    background-color: #5d5d5d;
    	line-height: 1.2;
    	color: #aaa !important;
    	font-size: 1em !important;
}

.box_nachrichten a {
    text-decoration: none;
    	color: white !important;
    	font-size: 1em !important;
    	line-height: 1.2;
}

// http://www.andre-abt.com/2013/11/26/how-to-use-the-bootstrap-3-grid-system-with-column-margins/
.my-container [class^="col-"] {
  padding-top: .8em;

  .my-inner {
  }
}

.navbar-custom {
  background-color: rgba(240,240,240,0.7);
  border-color: #dddddd;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(rgba(255,255,255,0.0)), to(rgba(240,240,240,0.7)));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, rgba(240,240,240,0.7));
  background-image: -moz-linear-gradient(top, #ffffff 0%, rgba(240,240,240,0.7));
  background-image: linear-gradient(to bottom, #ffffff 0%, rgba(240,240,240,0.7));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #555555;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #3b3b3b;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #555555;
}
.navbar-custom .navbar-nav > li > a {
  color: #555555;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #222222;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #222222;
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dddddd), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, #dddddd, 0%, #f7f7f7, 100%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #f7f7f7 100%);
  background-image: linear-gradient(to bottom, #dddddd 0%, #f7f7f7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#fff7f7f7', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #dcdcdc;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #222222;
  border-bottom-color: #222222;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #dddddd;
  color: #222222;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #222222;
  border-bottom-color: #222222;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #555555;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #222222;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #222222;
    background-color: #dddddd;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #555555;
}
.navbar-custom .navbar-link:hover {
  color: #222222;
}

// Breadcrub path for show action of category model
.breadcrub {
  padding: 2em  0 2em 0;
}

// custom image as li 
ul
{
  list-style-image:url('r_s_strich.gif');
}

.bold { font-weight: bold; }

mark, .mark {
  background-color: #ff0;
}

a.navbar-brand {
  min-width: 150px;
    background: url("Logo RA-GAS sw.svg") no-repeat scroll 10px 15px;
    background-size: 126px;
}
