<div class="row text-right">
  <% if current_user && current_user.admin? %>
    <%= link_to 'Neue Produkt Kategorie erstellen', new_category_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

