<% provide(:title, 'Produkt Kategorien') %>
<h1>Produkt Kategorien</h1>


<%= render "button_new_category" %>


<div class="row">
  <div class="col-md-12">

    <div class="tree">
      <ul>
        <%= render( @categories ) || "Noch keine Kategorie vorhanden." %>
      </ul>
    </div>

  </div>
</div>



<%= render "button_new_category" %>
