<% provide(:title, 'Neue Produkt Kategorie anlegen') %>
<h1>Neue Produkt Kategorie anlegen</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@category, html: {class: "form-horizontal", role: "form"}) do |f| %>
      <%= render 'fields', f: f %>
      <div><%= f.submit "Produkt Kategorie erstellen", class: "btn btn-large btn-primary" %></div>
    <% end %>
  </div>
</div>


