<% provide(:title, 'Produkte') %>
<h1>Produkte</h1>

<div class="table-responsive">
  <table class="table table-hover table-hover">
    <tr>
      <th>Art. Nr.</th>
      <th>Bezeichnung</th>
      <th>Kurztext</th>
      <th>Kurztext</th>
    </tr>
  </div>
  <% for product in  @products do %>
    <tr>
    <td><%= product.number %></td>
    <td><%= product.description %></td>
    <td><%= product.short_description %></td>
    <td><%= product.product_group.name %></td>
  </tr>
<%end %>
</table>
</div>
