<footer class="footer">
  <small>
    &copy; RA-GAS · Rudolf-Diesel-Straße 22 · 71394 Kernen i.R. · Fon 07151 930440 · Fax 07151 930443 · <%= link_to "info@gaswarnanlagen.com", 'mailto:info@gaswarnanlagen.com' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über uns",   about_path %></li>
      <li><%= link_to "Kontakt",    contact_path %></li>
      <li><a href="http://ruby.railstutorial.org/chapters">News</a></li>
    </ul>
  </nav>
</footer>
